<h1>データの受け渡し実験</h1>

<!-- 実験1: ローカル変数を表示しようとしてみる -->
<%# <p>ローカル変数の結果: <%= title %>
<%# ⬆️エラーが出る %>

<!-- 実験2: インスタンス変数を表示してみる -->
<p>インスタンス変数の結果: <%= @memo %></p>

<!-- 実験3: ハッシュの中身を表示してみる -->
<p>ユーザー名: <%= @user_info[:name] %> さん</p>
<p>点数: <%= @user_info[:score] %> 点</p>